.product-card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: transform 0.2s ease;
  margin: 16px;
  height: 200px;
}

.product-card:hover {
  transform: scale(1.05);
}

mat-card-title {
  font-weight: bold;
  font-size: 16px;
}

mat-card-subtitle {
  font-size: 13px;
  color: #888;
}

mat-card-content {
  flex-grow: 1;
  font-size: 13px;
  color: #333;
}

img[mat-card-image] {
  object-fit: contain;
  height: 200px;
  padding: 8px;
  margin-left: 10px;
}
