<div class="container">
  <h1>Product List</h1>
  <div class="example-container">
    <mat-form-field appearance="outline">
      <mat-label>Search products</mat-label>
      <input
        matInput
        placeholder="Enter product name"
        (input)="search.set($any($event.target).value)"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Category</mat-label>
      <mat-select
        (selectionChange)="search.set($event.value)"
        [value]="search()"
      >
        <mat-option value="">All</mat-option>
        @for (item of categories(); track $index) {
        <mat-option [value]="item">{{item}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <button matButton (click)="search.set('')">Reset filters</button>
  </div>

  <mat-grid-list cols="3" rowHeight="2:1">
    @for (item of filteredProducts(); track item.id) {
    <mat-grid-tile>
      <app-product-card [item]="item"></app-product-card>
    </mat-grid-tile>
    }
  </mat-grid-list>
</div>
